
<!doctype html>
<html lang="pt-BR">

	<head>
	<title>Sistema de Controle Interno</title>
<meta charset="utf-8">
<script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>
<style type="text/css">
@import "{{ static_url("media/css/demo_page.css") }}";
@import "{{ static_url("media/css/demo_table.css") }}";
@import "{{ static_url("css/estilo.css") }}";
</style>
<script type="text/javascript" language="javascript" src="{{ static_url("media/js/jquery.dataTables.js") }}"></script>
<script src="{{ static_url("js/jquery-ui-1.10.4.custom.min.js") }}"></script>
<link rel="stylesheet" href="{{ static_url("css/jquery-ui-1.10.4.custom.min.css") }}">
<link rel="stylesheet" href="{{ static_url("css/estilo.css") }}">
<script type="text/javascript" language="javascript" src="{{ static_url("js/funcoes-teste.js") }}"></script>
 <script src="{{ static_url("js/jquery-ui-1.10.4.custom.min.js") }}"></script>

 	<script type="text/javascript" src="{{ static_url("js/jquery.jqplot.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.logAxisRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.canvasTextRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.canvasAxisLabelRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.canvasAxisTickRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.dateAxisRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.categoryAxisRenderer.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/plugins/jqplot.barRenderer.min.js") }}"></script>
	<link rel="stylesheet" type="text/css" hrf="{{ static_url("css/jquery.jqplot.min.css") }}" />
	

	</head>
<body>

<div class="container">
<h1>Escolha uma tabela</h1>
<div id="menu">
<div id="center-menu">
<a href="#" class="carregarTabelaDePendings">Tabela de Pendings</a>
<a href="#" class="carregarGraficos">Relatório de Rendimento</a>
<a href="#" class="carregarZerarTabelasDeContato">Zerar Tabelas de Contato</a>
</div>
</div>
<br>
<br>
<div class="formulario">
<div class="campos-formulario">
<table>
<tbody><tr>
<td><select id="valor-do-ano" style="display:none;">
	<option value="2014">2014</option>
	<option value="2013">2013</option>
	<option value="2012">2012</option>
	<option value="2011">2011</option>
	<option value="2010">2010</option>			
</select>
<div class="dataDeInicio">Data de Inicio:<br><input type="text" id="dataDeInicio"></div></td>
<td><div class="dataDeFim">Data de Fim:<input type="text" id="dataDeFim"></div></td>
<td>
<div class="selectDoRelatorio">
<br>
<select id="selecionarRelatorio">
<option value="revisoes_por_revisor">Revisões por revisor</option>
<option value="campos_mais_revisados">Campos mais revisados</option>
<option value="ensaios-por-mes">Estudos criados por mês</option>
<option value="ressubmissoes-por-revisor">Resubmissões por revisor</option>
<option value="aprovacoes-por-revisor">Aprovações por revisor</option>
</select>
</div>
</td>
<td><br> <a href="#" class="gerarGrafico">Gerar Gráfico</a><a href="#" class="criar-grafico-por-ano" style="display:none;">Gerar Gráfico</a></td>
</tr>
</tbody></table>
</div>
</div>
<br>
<br>
<br>
<div id="filtro" style="display:none;">
	<div style="display:none;">
		<div class="quantidadeDeVermelhos">0</div>
		<div class="quantidadeDeAmarelos">0</div>
		<div class="quantidadeDeVerdes">0</div>
	</div>
	Filtrar por: 
	<select id="selectDoRevisor">
		<option value="">----------</option>
		<option value="adm_daniel">adm_daniel</option>
		<option value="adm_gian">adm_gian</option>
		<option value="adm_josue">adm_josue</option>
		<option value="adm_marcelo">adm_marcelo</option>
		<option value="adm_vanessa">adm_vanessa</option>
	</select>
	<input type="button" value="filtrar" class="filtrarRevisor"><br><br>
	<input type="button" value="Exibir Gráfico do Relatório de Pendências" class="porcentagemDeCores">
</div>

<div class="graficoDeCores" id="dialog">
		<h3>Relatório de pendências</h3>
		<div class="vermelho">

		</div>
		<br>
		<div class="amarelo">

		</div>
		<br>
		<div class="verde">

		</div>
		<br>
	</div>
<div class="loader">
Carregando...
</div>
<div class="final">
</div>

<div id="chart1" style="margin-top:100px;"></div>

</div>

</body>

</html>