<!doctype html>
<html lang="pt-BR">

	<head>
		<title>Correção do problema com contatos</title>
		<meta charset="utf-8">
		<script type="text/javascript" src="{{ static_url("jquery.js") }}"></script>

				<style type="text/css">
			@import "{{ static_url("media/css/demo_page.css")}}";
			@import "{{ static_url("media/css/demo_table.css")}}";
		</style>
		<script type="text/javascript" language="javascript" src="{{ static_url("media/js/jquery.dataTables.js")}}"></script>
		<script src="{{ static_url("js/jquery-ui-1.10.4.custom.min.js") }}"></script>
 			 <link rel="stylesheet" href="{{ static_url("css/jquery-ui-1.10.4.custom.min.css") }}">

				<script type="text/javascript">

				$(document).ready(function(){
						


					function resgatar_relatorio(tipo_de_relatorio){
						

						if(tipo_de_relatorio == "relatorio_de_pendings"){
							$('.formulario').hide();
							
							$('h1').html('Tabela de Pendings');
							
							$.getJSON("retornaj?tipo_de_relatorio=relatorio_de_pendings", function(json) {
							
							
		
								for(var i=0;i<json.length;i++){

							
									if(json[i].resubmission == 0){

											$('.tabelaDePendings tbody').append('<tr><td>'+json[i].created+'</td><td>'+json[i].trial_id+'</td><td>'+json[i].status+'</td><td>'+json[i].rbr+'</td><td>'+json[i].updated_submission+'</td><td>'+json[i].username+'</td><td>'+json[i].email+'</td><td><a href="'+json[i].link_review+'" target="_blank">Link para a revisão</a></td><td>'+json[i].data_limite+'</td><td>'+json[i].submissionId+'</td><td></td><td></td></tr>');
									}else{
										$('.tabelaDePendings tbody').append('<tr><td>'+json[i].created+'</td><td>'+json[i].trial_id+'</td><td>'+json[i].status+'</td><td>'+json[i].rbr+'</td><td>'+json[i].updated_submission+'</td><td>'+json[i].username+'</td><td>'+json[i].email+'</td><td><a href="'+json[i].link_review+'" target="_blank">Link para a revisão</a></td><td>'+json[i].data_limite+'</td><td>'+json[i].submissionId+'</td><td style="background-color:#FF5500;">'+json[i].resubmission["resubmission_date"]+'</td><td style="background-color:#FF5500;">'+json[i].resubmission["limited_date"]+'</td></tr>');
									}
								}
	
								
								$('.loader').hide();
								$('#tabelaDePendings').dataTable();
								$('.final').show();
								
							});

						}


						if(tipo_de_relatorio == "relatorio_de_revisoes"){
							$('.formulario').hide();
							$('h1').html('Tabela de Revisões');
							$.getJSON("retornaj?tipo_de_relatorio=relatorio_de_revisoes", function(json) {
				
								
								for(var i=0;i<json.length;i++){

									$('.tabelaDePendings tbody').append('<tr><td>'+json[i].created+'</td><td>'+json[i].context+'</td><td>'+json[i].revisor+'</td><td>'+json[i].trial_id+'</td><td>'+json[i].link_review+'</td><td>'+json[i].status+'</td><td>'+json[i].updated+'</td><td>'+json[i].registrante_user+'</a></td><td>'+json[i].data_final+'</td></tr>');

								}

								
								$('.loader').hide();
								$('#tabelaDePendings').dataTable();
								$('.final').show();
								
							});

						}


						if(tipo_de_relatorio == "revisoes_por_revisor"){
							$('.formulario').show();

						$('h1').html('Relatorio de rendimento');
						$('#menu a').removeClass('abaAtiva');
						$('.carregarGraficos').addClass('abaAtiva');
						$('.loader').hide();
						$('.final').show();
						$( "#dataDeInicio" ).datepicker();
						$( "#dataDeFim" ).datepicker();			
								
							

						}

					}
						
						$('.carregarTabelaDePendings').click(function(){
							$('#menu a').removeClass('abaAtiva');
							$('.carregarTabelaDePendings').addClass('abaAtiva');
							$('.final div').remove();
							$('.final table').remove();
							$('.grafico').remove();
							$('.final').append('<table class="tabelaDePendings" id="tabelaDePendings" cellspacing="0"><thead><tr><td class="cabecalhoTabela">created</td><td class="cabecalhoTabela">trial_id</td><td class="cabecalhoTabela">status</td><td class="cabecalhoTabela">rbr</td><td class="cabecalhoTabela">updated_submission</td><td class="cabecalhoTabela">username</td><td class="cabecalhoTabela">email</td><td class="cabecalhoTabela">link_review</td><td class="cabecalhoTabela">data_limite</td><td class="cabecalhoTabela">submissionId</td><td class="cabecalhoTabela">resubmission_date</td><td class="cabecalhoTabela">limited_date</td></tr></thead><tbody></tbody></table>');
							$('.loader').css('display','inline');
							
							$('.final').hide();
						
							resgatar_relatorio("relatorio_de_pendings");


				
						});


						$('.carregarTabelaDeRevisoes').click(function(){
							$('#menu a').removeClass('abaAtiva');
							$('.carregarTabelaDeRevisoes').addClass('abaAtiva');
							$('.final div').remove();
							$('.final table').remove();
							$('.grafico').remove();
							$('.final').append('<table class="tabelaDePendings" id="tabelaDePendings" cellspacing="0"><thead><tr><td class="cabecalhoTabela">created</td><td class="cabecalhoTabela">context</td><td class="cabecalhoTabela">revisor</td><td class="cabecalhoTabela">trial_id</td><td class="cabecalhoTabela">link_review</td><td class="cabecalhoTabela">status</td><td class="cabecalhoTabela">updated</td><td class="cabecalhoTabela">registrante_user</td><td class="cabecalhoTabela">data_final</td></tr></thead><tbody></tbody></table>');
							$('.loader').show();
							
							$('.final').hide();
						
							resgatar_relatorio("relatorio_de_revisoes");

				
						});


						$('.carregarGraficos').click(function(){
							$('.final div').remove();
							$('.final table').remove();
		
							$('.loader').show();

							$('.final').hide();
						
							resgatar_relatorio("revisoes_por_revisor");

				
						});


						$('.gerarGrafico').click(function(){

							var dataDeInicio = $('#dataDeInicio').val();
							var dataDeFim = $('#dataDeFim').val();
							var tituloDoRelatorio = $ ( ".selectDoRelatorio option:selected").val();
							

							
							$('.grafico').remove();

							$.getJSON("retornaj?tipo_de_relatorio="+tituloDoRelatorio+"&dataDeInicio="+dataDeInicio+"&dataDeFim="+dataDeFim, function(json) {
				
							var usuarios;
							var valores;

							for (var k in json){
								    if (typeof(json[k]) !== 'function' && typeof(json[k]) !== 'undefined' && k !== "total") {
								    	
								         usuarios = usuarios+'|'+k;
								         valores = valores+','+json[k];
								     	
								     	
								     	
								    }
							}

							usuarios = usuarios.replace("undefined|","");
							valores = valores.replace("undefined,","");

							
								
								

							$('.final').append('<div class="grafico"><div class="numeros-graficos"><span style="padding:20px 0 20px 20px;background:#000;color:#FFF;float:left;width:95%;font-size:20px;"></span><br><ul style="float:left;margin:10px 0 0 20px;font-size:18px;"></ul></div><img style="float:right;" src="http://chart.apis.google.com/chart?cht=p&chxt=x,y&chd=t:'+valores+'&chco=555&chs=600x425&chxl=0:|'+usuarios+'"></div>');

							

							for (var k in json){
								    if (typeof(json[k]) !== 'function' && typeof(json[k]) !== 'undefined' && k !== "total") {
								    	
								         
								         $('.numeros-graficos ul').append('<li>'+k+':'+json[k]+'</li>');

								  								     	
								    }

								    else if(k == "total"){
										$('.numeros-graficos span').append('<b>'+k+':'+json[k]+'</b>');								    	
								    }
							}
								
								$('#menu a').removeClass('abaAtiva');
								$('.carregarGraficos').addClass('abaAtiva');
								$('.loader').hide();
								$( "#dataDeInicio" ).datepicker();
								$( "#dataDeFim" ).datepicker();			
								$('.final').show();
								$( "#dataDeInicio" ).datepicker();
								$( "#dataDeFim" ).datepicker();			

								
							});

						});




						

					});      	 
				</script>

				<style>


					*{
						padding:0;
						margin:0;
					}

					body{
						font-size: 0.6em;
						font-family: Helvetica, Arial, sans-serif;
						background-color:#DDD;
					}

					td{
						padding: 5px;
					}

					thead td{
						padding:10px;
					}


					
					h1{
						width:100%;
						padding:20px 0 20px 0;
						font-size:30px;
						text-align:center;
						background:#FFF;

					}


					.gerarGrafico{
						padding:20px 30px;
						background:#000;
						color:#FFF;
						float: left;
						margin: 15px 0 0 0;
					}

					
					.tabelaDePendings{
						background:#CCC;
						border:1px solid #CCC;
						border-right: none;
						border-bottom: none;
						color:#000;
						margin-top:10px;
					}

					.tabelaDePendings tbody td{
						border-right:1px solid #CCC;
						border-bottom: 1px solid #CCC;

					}

					.tabelaDePendings tbody td{
						margin:0;
						padding:5px;
					}

					thead .cabecalhoTabela{
						font-size:15px;
						background:#AAff55;
						color:#000;
						text-align: left;
						font-weight: bold;
						border-bottom: 3px solid #CCC;
						
					}

					.tabelaDePendings td:last{
						border-right: none;
					}
					


					.final{
						display: none;
						background:#DDD;
						float:left;
						padding:15px 0;
						width:100%;
					}


					.final table{
						margin:0 auto;
						width:100%;
					}	

					
					
					.carregarTabelaDePendings{
						padding:25px 0;
						font-size:15px;
						font-weight: bold;
						color:#555;
						background: #DDD;
						float:left;
						text-decoration: none;
						margin-right: 0.1%;
						width:33.33%;
						text-align:center;
						border-bottom:2px solid #ccc;
					}


					.formulario{
						width: 70%;
						margin:0 auto;
						display:none;
						padding: 30px 0 0 0;
						
					}

					.campos-formulario{
						width: 100%;
						float: left;

						
					}

					div.dataDeInicio{
						float:left;
						font-size: 15px;
						padding-top: 20px;
						
					}

					div.dataDeFim{
						float:left;
						font-size: 15px;
						padding-top: 20px;
						margin-left: 5%;
						margin-right: 5%;

						
					}

					#dataDeInicio, #dataDeFim{
						padding:10px;
						margin:0 0 0 10px;
					}


					.carregarTabelaDeRevisoes{
						padding:25px 0;
						font-size:15px;
						font-weight: bold;
						color:#555;
						background: #DDD;
						float:left;
						text-decoration: none;
						margin:0 0.1% 0 0;
						width:33%;
						text-align:center;
						border-bottom:2px solid #ccc;
					}


					.carregarGraficos{
						padding:25px 0;
						font-size:15px;
						font-weight: bold;
						color:#555;
						background: #DDD;
						float:left;
						text-decoration: none;
						width:33.33%;
						text-align:center;
						border-bottom:2px solid #ccc;
					}

					.abaAtiva{
					
						background:#CCC;
						color:#000;
						


					}

					#tabelaDePendings_wrapper{
						width:100%;
						margin:0 auto;
					}

					

					.grafico{
						margin:20px auto;
						width:70%;
						background-color: #FFF;
						height: 600px;
						padding:20px;
					}

					.grafico img{
						margin: 0 auto;
						border-top:30px solid #FFF;
						border-bottom:30px solid #FFF;
					}

					.loader{
						padding:40px 10px 10px 10px;
						background:#DDD;
						clear: both;
						float:left;
						display:none;
						font-size: 15px;
						font-weight: bold;
						width:100%;
						background-image:url(/static/preloader.gif);
						background-repeat: no-repeat;
						background-position: center center;
						height:100px;
						text-align:center;
					}


					.final{
						display: none;
						background:#DDD;
						float:left;
						padding:15px 0;
						width:100%;
					}

					
					#menu{
						width:100%;	
						float:left;
						background:#CCC;				
					}

					#center-menu{
						margin:0 auto;
						
					}
				


				</style>

	</head>
<body>

	<div class="container">
		<h1>Escolha uma tabela</h1>

		<div id="menu">
			<div id="center-menu">
		
				<a href="#" class="carregarTabelaDePendings">Tabela de Pendings</a>

				<a href="#" class="carregarTabelaDeRevisoes">Tabela de Revisões</a>

				<a href="#" class="carregarGraficos">Relatório de Rendimento</a>

			</div>		
		</div>
		<br>
		<br>
		<div class="formulario">
			<div class="campos-formulario">
				<div class="dataDeInicio">Data de Inicio:<input type="text" id="dataDeInicio" /></div>
				<div class="dataDeFim">Data de Fim:<input type="text" id="dataDeFim" /></div>
				<div class="selectDoRelatorio">
					<select>
					  <option value="revisoes_por_revisor">Revisões por revisor</option>
					  <option value="campos_mais_revisados">Campos Mais revisados</option>
					</select>
				</div>
				<a href="#" class="gerarGrafico">Gerar Gráfico</a>
			</div>
			
		</div>
		<div class="loader">
			Carregando...
		</div>
				

		<div class="final">
			
		</div>
	
	</div>




</body>

</html>
