*{
padding:0;
margin:0;
}
body{
font-size: 0.6em;
font-family: Helvetica, Arial, sans-serif;
background-color:#DDD;
}
td{
padding: 5px;
}
thead td{
padding:10px;
}
h1{
width:100%;
padding:20px 0 20px 0;
font-size:30px;
text-align:center;
background:#FFF;
}

.graficoDeCores{
				width: 600px;
				margin:0 auto;
				display: none;
			}

			.vermelho{
				height: 50px;
				background: red;
			
			}

			.amarelo{
				height: 50px;
				background: yellow;
		
			}

			.verde{
				height: 50px;
				background: green;
			
			}



.gerarGrafico, .criar-grafico-por-ano{
padding:15px 10px 15px 10px;
background:#000;
color:#FFF;
float:left;
text-decoration:none;
margin: 0 0 0 10px;
display:inline;
}
.tabelaDePendings{
background:#CCC;
border:1px solid #CCC;
border-right: none;
border-bottom: none;
color:#000;
margin-top:10px;]
clear:both;
}
.tabelaDePendings tbody td{
border-right:1px solid #CCC;
border-bottom: 1px solid #CCC;
}
.tabelaDePendings tbody td{
margin:0;
padding:5px;
}
thead .cabecalhoTabela{
font-size:15px;
background:#AAff55;
color:#000;
text-align: left;
font-weight: bold;
border-bottom: 3px solid #CCC;
}
.tabelaDePendings td:last{
border-right: none;
}
.final{
display: none;
background:#DDD;
float:left;
padding:15px 0;
width:100%;
}
.final table{
margin:0 auto;
width:100%;
}
.carregarTabelaDePendings{
padding:25px 0;
font-size:15px;
font-weight: bold;
color:#555;
background: #DDD;
float:left;
text-decoration: none;
margin-right: 0.1%;
width:33%;
text-align:center;
border-bottom:2px solid #ccc;
}
.formulario{
width: 70%;
margin:0 auto;
display:none;
padding: 30px 0 0 0;
}
.campos-formulario{
width: 100%;
float: left;
}
div.dataDeInicio{
float:left;
font-size: 15px;
padding-top: 20px;
}
.selectDoRelatorio select{
float:left;
font-size: 15px;
padding: 10px;
}
.enviarZerarTabelaDeContatos{
padding:15px 30px;
background:#000;
color:#FFF;
float:left;
text-decoration:none;
display:inline;
}
div.dataDeFim{
float:left;
font-size: 15px;
padding-top: 20px;
margin-left: 5%;
margin-right: 5%;
}
#dataDeInicio, #dataDeFim{
padding:10px;
margin:0 0 0 10px;
}
.carregarTabelaDeRevisoes{
padding:25px 0;
font-size:15px;
font-weight: bold;
color:#555;
background: #DDD;
float:left;
text-decoration: none;
margin:0 0.1% 0 0;
width:33.2%;
text-align:center;
border-bottom:2px solid #ccc;
}
.carregarGraficos{
padding:25px 0;
font-size:15px;
font-weight: bold;
color:#555;
background: #DDD;
float:left;
text-decoration: none;
width:33.3%;
margin:0 0.1% 0 0;
text-align:center;
border-bottom:2px solid #ccc;
}
.carregarZerarTabelasDeContato{
padding:25px 0;
font-size:15px;
font-weight: bold;
color:#555;
background: #DDD;
float:left;
text-decoration: none;
width:33.33%;
text-align:center;
border-bottom:2px solid #ccc;
}
.abaAtiva{
background:#CCC;
color:#000;
}
#tabelaDePendings_wrapper{
width:100%;
margin:0 auto;
}
.grafico{
margin:20px auto;
width:70%;
background-color: #FFF;
height: 650px;
padding:20px;
}
.grafico img{
margin: 0 auto;
border-top:30px solid #FFF;
border-bottom:30px solid #FFF;
}
.loader{
padding:40px 10px 10px 10px;
background:#DDD;
clear: both;
float:left;
display:none;
font-size: 15px;
font-weight: bold;
width:100%;
background-image:url({{ static_url("preloader.gif")}});
background-repeat: no-repeat;
background-position: center center;
height:100px;
text-align:center;
}
.final{
display: none;
background:#DDD;
float:left;
padding:15px 0;
width:100%;
}
#menu{
width:100%;
float:left;
background:#CCC;
}
#center-menu{
margin:0 auto;
}

#filtro{
	margin: 10px 0 0 0;
	width:100%;
	padding:20px 0;
	text-align: center;
}
				